$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
//color
$mainPurple: #7f35b2;
$mainPurpleDarker: #6a2d93;
$mainPurpleClicked: #602785;
$grey: #d8d2db;
$greyTags: #f1f0f2;
$searchBoxColor: #48086f;
$greyBorder: #99909f;
$greyBg: #e6e6e6;
$hotPink: #d124b8;
$hotPinkDarker: #bc20a6;
$hotPinkClicked: #ac1d93;
$dark: #212529;
$notifBorder: #c2a8f0;
$backgroundHoverTag: #ddd8e0;
$btnOutline: #327fef;