@import "./a_variables.scss";
@import "./b_breakpoints.scss";
@import "./c_fonts.scss";
// nested target parent
.app-loaded {
    * {
        font-family: "graphikReg", Arial, sans-serif;
    }
    //header elements
    // .app__top {
    //     border-bottom: 1px solid $grey;
    // }
    // remove horiz scrolbar
    overflow-x: hidden;
    //empty space above banner removal
    .cc-element.cc-element--rich-text {
        display: none;
    }
    // mobile banner goes up to 767
    .media-element--mobile {
        position: relative;
        top: -40px;
    }
    //banner desktop
    .media-element:not(.media-element--mobile) {
        @media (min-width: $breakpoint-desktop) {
            position: relative;
            top: -40px;
            width: 100%;
            margin: 0 auto;
            max-width: $breakpoint-desktop;
            display: block;
        }
    }
    //search box
    .search-box-compact__form::before,
    .search-box-compact__form,
    .search-box-compact,
    .search-box-compact__button,
    .app-loaded .search-box-compact__button-border,
    .app-loaded .search-box-compact__button-background,
    .search-box-compact__button-border,
    .search-box-compact__button-background {
        border-radius: 0px;
    }
    //searchbox mobile
    .search-box-compact__fieldset::before {
        border-radius: 0;
    }
    //search box icon color
    .icon-search-thin.theme-color-1 {
        color: white;
    }
    //search box icon bg
    .search-box-compact__button {
        background-color: $searchBoxColor;
    }
    .search-box-compact__button {
        font-size: 1.5rem;
    }
    // location dropdown
    .search-box-compact__menu {
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    }
    .search-box-compact__menu-item button {
        @include linkStyle;
    }
    // filters menu, different css page?
    .search-filters__header {
        color: black;
        text-transform: capitalize;
    }
    .search-filters__set-filter,
    .search-jobs__toggle-filters,
    .search-jobs__clear-filter {
        @include linkHoverStyle;
    }
    // result amends start here
    //tags
    .search-jobs__misc * {
        font-family: "graphikBold", Arial, sans-serif;
        text-transform: capitalize;
    }
    .search-breadcrumbs__breadcrumb {
        margin: 10px 10px 0 0;
        border-radius: 50px;
        background-color: $greyBorder;
        font-size: 16px;
    }
    .search-jobs__counter.text-color-secondary {
        color: black;
    }
    .job-list-item__description {
        color: black;
    }
    .job-tile__secondary-locations * {
        font-family: "graphikBold", Arial, sans-serif;
    }
    // results hover bg
    .job-tile.job-list-item {
        &:hover {
            background-color: $mainPurple;
            h2.job-tile__title {
                color: white;
            }
            // job results
            .job-tile__subheader *,
            button,
            .job-list-item__show-icon,
            .job-list-item__description {
                color: white;
            }
        }
        // job results
        .job-tile__subheader * {
            color: black;
        }
    }
    // result cta title
    .talent-community-tile__title {
        color: $dark;
    }
    // result btn cta
    .talent-community-tile__actions a.button {
        @include buttonStyle;
    }
    // modal job spec
    .job-details__subtitle,
    .job-details__section *,
    .job-meta__list * {
        color: black;
    }
    .apply-now-button {
        @include buttonStyle;
    }
    .job-details__see-more-button button {
        @include buttonStyle;
        height: 48px;
    }
    // login
    .buttons-bar__inner {
        .button:first-child {
            @include buttonReversedStyle();
            height: 48px;
            .button__arrow {
                display: none;
                width: 0;
            }
            .button__arrow--right {
                display: none;
                width: 0;
            }
        }
        .button:last-child {
            @include buttonStyle();
            height: 48px;
            .button__arrow {
                display: none;
                width: 0;
            }
        }
    }
    // verify
    h1.heading,
    .apply-flow-dialog__text,
    .input-row__linebreak {
        color: black;
    }
    .input-row__linebreak {
        font-family: "graphikBold", Arial, sans-serif;
    }
    .apply-flow-dialog__button {
        @include buttonStyle();
        .button__label {
            font-family: "graphikBold", Arial, sans-serif;
        }
        .button__arrow {
            display: none;
            width: 0;
        }
    }
    // difficult btns height,issue on some
    .apply-flow-dialog__footer {
        .apply-flow-dialog__button {
            height: 48px;
            font-family: "graphikBold", Arial, sans-serif;
        }
    }
    .heading,
    .apply-flow-dialog__header,
    .apply-flow-dialog__text {
        color: black;
    }
    .input-row__label {
        .input-row__linebreak {
            font-family: "graphikBold", Arial, sans-serif;
            color: black;
        }
    }
    .input-row__control {
        color: black;
    }
    // welcome back, remove forward arrow on btn exception
    .apply-flow-dialog__content {
        .buttons-bar__inner {
            .button:first-child {
                .button__arrow--right {
                    display: none;
                    width: 0;
                }
                &::after {
                    background-image: none;
                    width: 0;
                }
            }
        }
    }
    // thank you, remove forward arrow on btn exception
    .talent-community-flow__container {
        .buttons-bar__inner {
            .button:first-child {
                .button__arrow--right {
                    display: none;
                    width: 0;
                }
                &::after {
                    background-image: none;
                    width: 0;
                }
            }
        }
    }
    // confirm page
    .pin-code-form__action-button {
        @include linkStyle;
    }
    .input-row__control-container {
        .pin-code-input {
            .pin-code-input__input {
                border-radius: 0;
            }
        }
    }
    // join page
    .input-row__control-container {
        .input-row__control {
            border-radius: 0;
        }
    }
    // form
    // form error box
    .apply-flow-fixer__content,
    .apply-flow-fixer__pulse {
        border-radius: 0;
    }
    .apply-flow-fixer__content {
        padding: 20px;
        @include notifBox;
    }
    .apply-flow-fixer__actions.text-color-primary {
        button {
            span {
                color: white;
            }
        }
    }
    // notif box top arrow
    .apply-flow-fixer__pointer {
        &:before {
            top: 11px;
            border: 2px solid $notifBorder;
        }
    }
    // bring inner form content up
    .apply-flow-page {
        top: -40px;
        position: relative;
    }
    // new form buttons
    .apply-flow-block {
        .apply-flow-profile-item-tile__new-tile {
            @include formButtonStyle();
        }
    }
    // send btn
    .apply-flow-pagination__buttons {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        .apply-flow-pagination__button {
            @include formButtonStyle();
        }
    }
    // you dont need an account page buttons
    footer.apply-flow-pagination__buttons {
        button.button:first-child {
            @include buttonReversedStyle();
            max-width: 144px;
            display: inline;
            &:before {
                display: inline-block;
                margin-right: 0;
            }
            &:after {
                display: none;
            }
            .button__arrow {
                display: none;
                height: 0;
                width: 0;
            }
        }
        button.button:last-child {
            @include buttonStyle();
            height: 48px;
            max-width: 144px;
            &::after {
                margin-left: 5px;
            }
            .button__arrow {
                display: none;
                height: 0;
                width: 0;
            }
        }
    }
    // other form send btn
    .talent-community-subscribe__container {
        .talent-community-subscribe__button {
            @include formButtonStyle();
        }
    }
    //top title of form
    .apply-flow-profile-import {
        .apply-flow-block__header:first-child {
            .apply-flow-block__title {
                position: relative;
                top: -15px;
                left: 0px;
                font-family: "graphikBold", Arial, sans-serif;
                font-size: 32px;
                @media (min-width: $breakpoint-tablet) {
                    left: -15px;
                }
            }
        }
    }
    // prevent big title in other form
    .talent-community-flow__container {
        .apply-flow-block__header:first-child {
            .apply-flow-block__title {
                top: auto;
                left: auto;
                font-size: 18px;
            }
        }
    }
    .inline-spinner__label {
        font-family: "graphikBold", Arial, sans-serif;
    }
    .button {
        @include buttonStyle();
        max-width: 264px;
        height: 50px;
         ::before {
            border: 0;
        }
        span {
            font-family: "graphikBold", Arial, sans-serif;
        }
        .button__arrow--left {
            display: none;
            width: 0;
        }
    }
    form.apply-flow__content {
        background-color: $greyBg;
        padding: 1em;
        .apply-flow-profile-import__awli-content {
            background-color: white;
            border: 1px solid $grey;
            padding-left: 10px;
            padding-right: 10px;
        }
        .apply-flow-profile-import__awli-content {
            border-radius: 0;
        }
        .apply-flow-block__instructions {
            color: black;
        }
        .input-row__control-container * {
            color: black;
        }
        .input-row__control {
            color: black;
        }
        .apply-btn {
            @include buttonStyle();
        }
        .apply-flow-profile-import-awli__button {
            @include formButtonStyle();
            &:hover {
                border: 0;
                outline: 0;
                background-color: $hotPinkDarker;
            }
        }
        .apply-flow-profile-import-awli__file-upload:hover~.apply-flow-profile-import-awli__button {
            border: 0;
            outline: 0;
            background-color: $hotPinkDarker;
        }
        .apply-flow-block__title {
            color: black;
            font-family: "graphikBold", Arial, sans-serif;
        }
        .input-row__label * {
            font-family: "graphikBold", Arial, sans-serif;
        }
        // cv cover letter btns
        .file-form-element__label {
            @include formButtonStyle();
            outline: 0;
            height: 36px;
            min-width: 210px;
            padding: 14px 24px 1px 24px;
        }
        .attachment-upload-button-mobile::before {
            border: 0;
            outline: 0;
        }
        .attachment-upload-button-mobile__label {
            width: 234px;
        }
        .input-row__control,
        .oj-select-choice {
            border-radius: 0;
            background-color: white;
            border: 1px solid $grey;
        }
        .apply-flow-input-checkbox {
            .apply-flow-input-checkbox__button {
                border-radius: 0;
                background-color: white;
                border: 2px solid $mainPurple;
            }
        }
        .candidate-links__add-link {
            @include linkStyle;
        }
        .text-truncate__toggle {
            @include linkStyle;
        }
        .button__arrow {
            display: none;
            width: 0;
        }
    }
    // form exception btn style
    h2.apply-flow-block__title,
    .apply-flow-block__title {
        text-transform: capitalize;
        font-family: "graphikBold", Arial, sans-serif;
        color: black;
    }
    //menu
    span.oj-select-chosen,
    .app-menu__item {
        text-transform: capitalize;
    }
    .app-menu__subitem {
        text-transform: uppercase;
        color: black;
    }
    .app-menu__wrapper {
        box-shadow: none;
    }
    // my profile
    // box header titles
    .cs-header {
        text-transform: capitalize;
    }
    //info on profile box
    .cs-application-tile,
    .cs-talent-community__job-alert-tile {
        @include notifBox;
    }
    // profile box link
    .cs-button--link {
        @include linkStyle;
    }
    .cs-job-info__title {
        @include linkStyle;
    }
    .cs-job-info__location {
        color: black;
    }
    .cs-job-info__metadata {
        color: black;
    }
    // profile delete all btn
    .candidate-self-service__delete-profile-button {
        @include linkStyle;
    }
    // notification close icon
    .notifications__remove-item {
        @include closeIcon;
    }
    // style notif box
    .notifications__item {
        @include notifBox;
    }
    // second profile notif box text
    .cs-talent-community__job-alert-tile-summary-content-preferences,
    .cs-talent-community__job-alert-tile-summary-content-preference {
        color: black;
    }
    //checkbox
    .apply-flow-input-checkbox__button {
        border-radius: 0;
        background-color: white;
        border: 2px solid $mainPurple;
    }
    .input-row__hidden-control {
        border-radius: 0;
        background-color: white;
        border: 2px solid $mainPurple;
    }
    .apply-flow-input-checkbox__label,
    .apply-flow-input-checkbox__label *,
    .agreements-label-text {
        color: black;
        a {
            @include linkStyle2;
        }
    }
    .input-row__label,
    .oj-select-chosen,
    .input-row__control,
    .text-truncate__content {
        color: black;
    }
    span.button__arrow.button__arrow--left {
        display: none;
        width: 0;
        &::after {
            display: none;
            width: 0;
        }
    }
}

// slide out main menu bg
.body--menu-opened .app-menu {
    background-color: rgba(0, 0, 0, 0.8);
}

//modal backdrop color
.body--dialog-opened .app-dialog {
    background-color: rgba(0, 0, 0, 0.8);
}

// modal close btn
.app-dialog__bar {
    // button.favourite-star,
    // button.share-widget__action,
    button.app-dialog__close {
        @include closeIcon;
    }
    button.app-dialog__close {
        @media (min-width: $breakpoint-tablet) {
            position: relative;
            top: -65px;
            left: 20px;
        }
    }
}