@import "./a_variables.scss";
@import "./b_breakpoints.scss";
@import "./c_fonts.scss";
@import "./d_mixins.scss";
// nested target parent
.app-loaded {
    * {
        font-family: "graphikReg", Arial, sans-serif;
    }
    // logo
    .app-header__logo {
        img {
            visibility: hidden;
        }
        position: relative;
        top: 4px;
        width: 200px;
        height: 100px;
        height: auto;
        background-repeat: no-repeat;
        background-position: center top;
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 194.7 27.6' style='enable-background:new 0 0 194.7 27.6;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfont-family:'Graphik-Light';%7D .st1%7Bfont-size:25.5976px;%7D .st2%7Bfill:%2399909F;%7D .st3%7Bfill:%237F35B2;%7D%0A%3C/style%3E%3Cfont horiz-adv-x='1000'%3E%3C!-- Graphik is a registered trademark of Commercial TypeSchwartzco Inc. --%3E%3C!-- Copyright: Copyright 2022 Adobe System Incorporated. All rights reserved. --%3E%3Cfont-face font-family='Graphik-Light' units-per-em='1000' underline-position='-92' underline-thickness='66'/%3E%3Cmissing-glyph horiz-adv-x='500'/%3E%3Cglyph unicode='C' horiz-adv-x='725' d='M385,-8C539,-8 656,76 682,230l-52,0C607,107 515,39 386,39C216,39 110,161 110,354l0,8C110,551 226,679 386,679C518,679 596,615 618,500l56,0C652,647 533,724 385,724C198,724 53,572 53,361l0,-8C53,137 181,-8 385,-8z'/%3E%3Cglyph unicode='a' horiz-adv-x='529' d='M221,-8C309,-8 365,29 398,80l0,-80l53,0l0,346C451,479 377,531 268,531C169,531 79,485 67,375l52,0C131,452 187,486 266,486C358,486 398,444 398,346l0,-47l-109,0C160,299 44,262 44,141C44,42 118,-8 221,-8M225,35C139,35 97,74 97,141C97,235 182,258 291,258l107,0l0,-89C398,91 321,35 225,35z'/%3E%3Cglyph unicode='e' horiz-adv-x='554' d='M291,-8C403,-8 486,46 508,146l-53,0C437,73 378,37 291,37C167,37 100,117 98,257l414,0l0,19C512,449 409,531 283,531C143,531 43,422 43,264l0,-8C43,99 140,-8 291,-8M100,300C110,414 182,486 283,486C385,486 452,427 457,300z'/%3E%3Cglyph unicode='r' horiz-adv-x='348' d='M82,0l53,0l0,290C135,429 211,476 312,480l0,50C216,527 164,477 135,413l0,110l-53,0z'/%3E%3Cglyph unicode='s' horiz-adv-x='465' d='M239,-9C358,-9 423,55 423,143C423,245 359,272 247,292C140,311 104,333 104,393C104,449 153,486 226,486C302,486 345,456 358,389l51,0C395,492 321,531 227,531C139,531 55,480 55,391C55,301 107,268 235,245C333,227 372,206 372,139C372,76 327,36 239,36C142,36 98,85 89,156l-51,0C45,56 116,-9 239,-9z'/%3E%3C/font%3E%3Ctext transform='matrix(1 0 0 1 106.0996 22.9502)' class='st0 st1'%3ECareers%3C/text%3E%3Crect x='90.1' class='st2' width='0.9' height='27.6'/%3E%3Cpath class='st3' d='M74,4.7l-7.3,18.7h-6.1L57.6,13l-3.1,10.5h-6.1L43,9.5h-3.3v6.3c0,3,1.2,3.4,2.8,3.4c0.4,0,0.9-0.1,1.3-0.2 l1.7,4.4c-1.3,0.3-2.6,0.5-4,0.5c-5.6,0-8-2.3-8-7.6V9.5h-2.5l-5.4,14h-6.1l-3-10.5l-3.1,10.5H7.2L0,4.7h6.9L10.5,16L14,4.7h4.8 L22.2,16l3.6-11.3h7.7V1.3L39.7,0v4.7h8.4L51.7,16l3.4-11.3h4.8L63.4,16L67,4.7L74,4.7z'/%3E%3C/svg%3E%0A");
        &::after {}
    }
    // header settings icon dropdown on profile
    .context-menu {
        @include notifBox;
        color: $onyxBlack;
        span {
            color: $onyxBlack;
        }
    }
    //header elements
    // .app__top {
    //     border-bottom: 1px solid $grey;
    // }
    // header job title with dropdown when  apply now is clicked
    .app-header__current-page-title {
        @include linkStyle;
    }
    // remove horiz scrolbar
    overflow-x: hidden;
    // home
    .scroll-suggest {
        display: none;
    }
    //empty space above banner removal
    .cc-element.cc-element--rich-text {
        display: none;
    }
    // mobile banner goes up to 767
    .media-element--mobile {
        position: relative;
        top: -40px;
    }
    //banner desktop
    .media-element:not(.media-element--mobile) {
        @media (min-width: $breakpoint-desktop) {
            position: relative;
            top: -40px;
            width: 100%;
            margin: 0 auto;
            max-width: $breakpoint-desktop;
            display: block;
        }
    }
    //search box
    .search-box-compact__form::before,
    .search-box-compact__form,
    .search-box-compact,
    .search-box-compact__button,
    .app-loaded .search-box-compact__button-border,
    .app-loaded .search-box-compact__button-background,
    .search-box-compact__button-border,
    .search-box-compact__button-background {
        border-radius: 0px;
    }
    // search box text colors
    .search-box-compact__fieldset {
        .search-box-compact__input {
            color: $onyxBlack;
            &::placeholder {
                color: $onyxBlack;
            }
        }
        .search-box-compact__label {
            span {
                color: $onyxBlack;
            }
            .search-box-compact__menu-button {
                span {
                    color: $mainPurple;
                }
            }
        }
    }
    // search box remove uppercase
    .search-box-compact__label.text-color-secondary {
        text-transform: capitalize;
    }
    //searchbox mobile
    .search-box-compact__fieldset::before {
        border-radius: 0;
    }
    //search box icon color
    .icon-search-thin.theme-color-1 {
        color: white;
    }
    //search box icon bg
    .search-box-compact__button {
        background-color: $searchBoxColor;
    }
    .search-box-compact__button {
        font-size: 1.5rem;
    }
    // location dropdown
    .search-box-compact__menu {
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    }
    .search-box-compact__menu-item button {
        @include linkStyle;
    }
    // 3890 OPEN JOBS below search before tags
    .search-filters__counter {
        color: $onyxBlack;
        text-transform: capitalize;
    }
    .search-jobs__misc-spacer {
        color: $onyxBlack;
    }
    .search-filters__pill-title {
        text-transform: capitalize;
    }
    // filters menu
    // style dropdowns
    .search-filters__pill {
        @include tags;
    }
    .search-filters__header {
        color: $onyxBlack;
        text-transform: capitalize;
    }
    .search-facet-dropdown__list-container {
        border-radius: 0;
        box-shadow: none;
    }
    .search-facet-dropdown__filter-button,
    .search-filters__set-filter,
    .search-jobs__toggle-filters,
    .search-jobs__clear-filter {
        @include linkStyle2;
        font-size: 12px;
    }
    // result amends start here
    //tags
    .categories-list__title {
        @include linkStyle2;
        text-transform: capitalize;
    }
    .search-jobs__misc * {
        font-family: "graphikBold", Arial, sans-serif;
        text-transform: capitalize;
    }
    // align titles to the right
    .job-details__section {
        h2 {
            @include h2Style;
        }
    }
    // media slider in job listing not working, hiding
    .media-slider.job-details__media-slider {
        display: none;
    }
    .search-breadcrumbs__breadcrumb {
        margin: 10px 10px 0 0;
        border-radius: 50px;
        background-color: $greyBorder;
        font-size: 16px;
    }
    .search-jobs__counter.text-color-secondary {
        color: $onyxBlack;
    }
    .job-list-item__description {
        color: $onyxBlack;
    }
    .job-tile__secondary-locations * {
        font-family: "graphikBold", Arial, sans-serif;
    }
    // job listing sort
    .job-list-sorting__label {
        text-transform: capitalize;
    }
    .job-list-sorting__selector {
        @include tags;
        padding: 8px 10px;
        font-size: 12px;
    }
    // results hover bg
    .job-tile.job-list-item {
        h2.job-tile__title {
            @include linkStyle;
            margin-bottom: 10px;
        }
        &:hover {
            background-color: $mainPurple;
            h2.job-tile__title {
                color: white;
                display: block;
            }
            // job results
            .job-tile__subheader *,
            button,
            .job-list-item__show-icon,
            .job-list-item__description {
                color: white;
            }
        }
        // job results
        .job-tile__subheader * {
            color: $onyxBlack;
        }
    }
    // result cta title
    .talent-community-tile__title {
        color: $dark;
    }
    // result btn cta
    .talent-community-tile__actions a.button {
        @include buttonStyle;
    }
    // modal job spec
    .job-details__subtitle,
    .job-details__section *,
    .job-meta__list * {
        color: $onyxBlack;
        text-transform: capitalize;
    }
    // job modal bulet points edits
    .basic-formatter {
        ul {
            list-style: none;
            li {
                &::before {
                    content: "\2022";
                    color: $mainPurple;
                    display: inline-block;
                    width: 20px;
                    font-size: 24px;
                    margin-left: -21px;
                    position: relative;
                    top: 4px;
                }
            }
        }
    }
    .inline-spinner {
        margin: 0;
    }
    .apply-now-button {
        @include buttonStyle;
    }
    .job-details__see-more-button button {
        @include buttonStyle;
        height: 48px;
    }
    // job spec smiliar jobs title
    .heading.job-details__title {
        @include h2Style;
    }
    .job-details__subtitle {
        text-align: left;
    }
    // login
    .buttons-bar__inner {
        float: right;
        .buttons-bar__spacer {
            display: none;
        }
        .button:first-child {
            @include buttonNoStyle();
            height: 48px;
            .button__arrow {
                display: none;
                width: 0;
            }
            .button__arrow--right {
                display: none;
                width: 0;
            }
        }
        .button:last-child {
            @include buttonStyle();
            height: 48px;
            .button__arrow {
                display: none;
                width: 0;
            }
        }
    }
    // verify
    h1.heading,
    .apply-flow-dialog__text,
    .input-row__linebreak {
        color: $onyxBlack;
    }
    .input-row__linebreak {
        font-family: "graphikBold", Arial, sans-serif;
    }
    .apply-flow-dialog__button {
        @include buttonStyle();
        .button__label {
            font-family: "graphikBold", Arial, sans-serif;
        }
        .button__arrow {
            display: none;
            width: 0;
        }
    }
    // difficult btns height,issue on some
    .apply-flow-dialog__footer {
        .apply-flow-dialog__button {
            height: 48px;
            font-family: "graphikBold", Arial, sans-serif;
        }
    }
    .apply-flow-dialog__content {
        margin: 0px auto 32px auto;
    }
    .heading,
    .apply-flow-dialog__header {
        @include h2Style;
        text-align: left;
        margin: 0 auto;
        max-width: 680px;
        span {
            font-family: "graphikBold", Arial, sans-serif;
        }
    }
    .apply-flow-dialog__text {
        text-align: left;
        color: $onyxBlack;
    }
    .input-row__label {
        .input-row__linebreak {
            font-family: "graphikBold", Arial, sans-serif;
            color: $onyxBlack;
        }
    }
    .input-row__control {
        color: $onyxBlack;
    }
    // welcome back, remove forward arrow on btn exception
    .apply-flow-dialog__content {
        .buttons-bar__inner {
            .button:first-child {
                .button__arrow--right {
                    display: none;
                    width: 0;
                }
                &::after {
                    background-image: none;
                    width: 0;
                }
            }
        }
    }
    // thank you, remove forward arrow on btn exception
    .talent-community-flow__container {
        .buttons-bar__inner {
            .button:first-child {
                .button__arrow--right {
                    display: none;
                    width: 0;
                }
                &::after {
                    background-image: none;
                    width: 0;
                    display: none;
                }
            }
        }
    }
    // confirm page
    .pin-code-form__action-button {
        @include linkStyle;
    }
    .input-row__control-container {
        .pin-code-input {
            .pin-code-input__input {
                border-radius: 0;
            }
        }
    }
    // join page
    .input-row__control-container {
        .input-row__control {
            @include formField;
            border-radius: 0;
        }
    }
    // form
    // form Linkedin Button
    .awli-apply-button {
        button {
            @include buttonStyle;
            background-color: $onyxBlack;
        }
    }
    // form remove uppercase
    .attachment-upload-button__drag-and-drop-label,
    .attachment-upload-button__or,
    .file-upload-attachments-preuploaded {
        text-transform: capitalize;
        color: $onyxBlack;
    }
    // form error box
    .apply-flow-fixer__content,
    .apply-flow-fixer__pulse {
        border-radius: 0;
    }
    .apply-flow-fixer__content {
        padding: 20px;
        @include notifBox;
        button {
            max-width: 172px;
            padding: 8px 12px;
        }
        //text lowercase
        .cookie-consent__abstract-message {
            text-transform: capitalize;
            color: $onyxBlack;
        }
    }
    // link dropdown style Show fields link
    .talent-community-flow__toggle-button {
        @include linkStyle2;
    }
    .apply-flow-fixer__actions.text-color-primary {
        button {
            span {
                color: white;
            }
        }
    }
    // notif box top arrow
    .apply-flow-fixer__pointer {
        &:before {
            top: 11px;
            border: 2px solid $notifBorder;
        }
    }
    // bring inner form content up
    .apply-flow-page {
        top: -40px;
        position: relative;
    }
    // new form buttons
    .apply-flow-block {
        .apply-flow-profile-item-tile__new-tile {
            @include formButtonStyle();
        }
    }
    // send btn
    .apply-flow-pagination__buttons {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        .apply-flow-pagination__button {
            @include formButtonStyle();
        }
    }
    // account login with email page, keep back text on mobile
    .apply-flow-pagination__button--prev .apply-flow-pagination__button-label {
        display: inline-block;
    }
    // you dont need an account page buttons
    footer.apply-flow-pagination__buttons {
        float: right;
        position: relative;
        display: flex;
        width: fit-content;
        button.button:first-child {
            @include buttonNoStyle();
            max-width: fit-content;
            display: inline;
            margin: 0 10px 0 0;
            span {
                @include buttonNoStyle();
                text-decoration: underline;
                text-underline-offset: 2px;
                top: -3px;
                position: relative;
                cursor: pointer;
                text-decoration-color: $backgroundHoverTag;
                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 2px;
                    cursor: pointer;
                }
            }
            &:after {
                display: none;
            }
            .button__arrow {
                display: none;
                height: 0;
                width: 0;
            }
        }
        button.button:last-child {
            @include buttonStyle();
            margin: 0 0 0 10px;
            height: 48px;
            max-width: fit-content;
            display: flex;
            &::after {
                margin-left: 5px;
                position: relative;
                top: 0;
            }
            .button__arrow {
                display: none;
                height: 0;
                width: 0;
            }
        }
    }
    // other form send btn
    .talent-community-subscribe__container {
        .talent-community-subscribe__button {
            @include formButtonStyle();
        }
    }
    //top title of form
    .apply-flow-profile-import {
        .apply-flow-block__header:first-child {
            .apply-flow-block__title {
                position: relative;
                top: -15px;
                left: 0px;
                font-family: "graphikBold", Arial, sans-serif;
                font-size: 32px;
                @media (min-width: $breakpoint-tablet) {
                    left: -15px;
                }
            }
        }
    }
    // prevent big title in other form
    .talent-community-flow__container {
        .apply-flow-block__header:first-child {
            .apply-flow-block__title {
                top: auto;
                left: auto;
                font-size: 18px;
            }
        }
    }
    .inline-spinner__label {
        font-family: "graphikBold", Arial, sans-serif;
    }
    .button {
        @include buttonStyle();
        max-width: 264px;
        height: 50px;
         ::before {
            border: 0;
        }
        span {
            font-family: "graphikBold", Arial, sans-serif;
        }
        .button__arrow--left {
            display: none;
            width: 0;
        }
    }
    form.apply-flow__content {
        background-color: $greyBg;
        padding: 1em;
        .apply-flow-profile-import__awli-content {
            background-color: white;
            border: 1px solid $greyBorder;
            padding-left: 10px;
            padding-right: 10px;
        }
        .apply-flow-profile-import__awli-content {
            border-radius: 0;
        }
        .apply-flow-block__instructions {
            color: $onyxBlack;
        }
        .input-row__control-container * {
            color: $onyxBlack;
        }
        .input-row__control {
            color: $onyxBlack;
        }
        .apply-btn {
            @include buttonStyle();
        }
        .apply-flow-profile-import-awli__button {
            @include formButtonStyle();
            &:hover {
                border: 0;
                outline: 0;
            }
        }
        .apply-flow-profile-import-awli__file-upload:hover~.apply-flow-profile-import-awli__button {
            border: 0;
            outline: 0;
            background-color: $mainPurpleDarker;
        }
        .apply-flow-block__title {
            color: $onyxBlack;
            font-family: "graphikBold", Arial, sans-serif;
        }
        .input-row__label * {
            font-family: "graphikBold", Arial, sans-serif;
        }
        // cv cover letter btns
        .file-form-element__label {
            @include formButtonStyle();
            outline: 0;
            height: 36px;
            min-width: 210px;
            padding: 14px 24px 1px 24px;
        }
        .attachment-upload-button-mobile::before {
            border: 0;
            outline: 0;
        }
        .attachment-upload-button-mobile__label {
            width: 234px;
        }
        .input-row__control {
            @include formField;
            border-radius: 0;
            background-color: white;
        }
        .oj-select-choice {
            border-radius: 0;
            background-color: white;
            @include formField2;
        }
        .apply-flow-input-checkbox {
            .apply-flow-input-checkbox__button {
                border-radius: 0;
                background-color: white;
                border: 2px solid $mainPurple;
            }
        }
        .candidate-links__add-link {
            @include linkStyle;
            font-size: 13px;
        }
        .text-truncate__toggle {
            @include linkStyle2;
        }
        .button__arrow {
            display: none;
            width: 0;
        }
    }
    // form exception btn style
    h2.apply-flow-block__title,
    .apply-flow-block__title {
        text-transform: capitalize;
        font-family: "graphikBold", Arial, sans-serif;
        color: $onyxBlack;
    }
    // all fields better border
    .input-row__control,
    .oj-text-field-container .oj-select-choice {
        border: 1px solid $greyBorder;
    }
    //menu
    span.oj-select-chosen,
    .app-menu__item a {
        @include linkStyle2;
        text-transform: capitalize;
        text-decoration: none;
    }
    .app-menu__subitem a {
        text-transform: uppercase;
        color: $onyxBlack;
    }
    .app-menu__wrapper {
        box-shadow: none;
    }
    .context-menu__link,
    .context-menu__link span {
        @include linkStyle2;
    }
    .app-menu__miscellaneous-item a {
        text-transform: capitalize;
        @include linkStyle2;
        text-decoration: none;
    }
    // my profile
    // ny mane in black
    .candidate-self-service__name,
    .candidate-self-service__email {
        color: $onyxBlack;
    }
    // box header titles
    .cs-header {
        text-transform: capitalize;
        color: $onyxBlack;
        font-family: "graphikBold", Arial, sans-serif;
        font-size: 18px;
    }
    //info on profile box
    .cs-talent-community__job-alert {
        padding: 0;
    }
    .cs-application-tile,
    .cs-talent-community__job-alert-tile {
        @include notifBox;
    }
    // profile box link
    .cs-button--link {
        @include linkStyle;
    }
    .cs-job-info__title {
        @include linkStyle;
    }
    .cs-job-info__location {
        color: $onyxBlack;
    }
    .cs-job-info__metadata {
        color: $onyxBlack;
    }
    // profile tags
    .cs-talent-community-multiselect-pill {
        @include tags;
    }
    // profile delete all btn
    .candidate-self-service__delete-profile-button {
        @include linkStyle;
    }
    // profile disabilirty info
    .regulatory-disability {
        background-color: white;
        td {
            width: 96%;
        }
    }
    // radio boxes in disability
    .apply-flow-input-radio__button {
        background-color: white;
        border: 2px solid $mainPurple;
        // &:before {
        //     background-color: white;
        //     border: 1px solid $mainPurple;
        // }
    }
    // radio filled size
    .apply-flow-input-radio__button--checked::before {
        transform: scale(2);
    }
    // notification close icon
    .notifications__remove-item {
        @include closeIcon;
    }
    // style notif box
    .notifications__item {
        @include notifBox;
    }
    // second profile notif box text
    .cs-talent-community__job-alert-tile-summary-content-preferences,
    .cs-talent-community__job-alert-tile-summary-content-preference {
        color: $onyxBlack;
    }
    //checkbox
    .apply-flow-input-checkbox__button {
        border-radius: 0;
        background-color: white;
        border: 2px solid $mainPurple;
    }
    .input-row__hidden-control {
        border-radius: 0;
        background-color: white;
        border: 2px solid $mainPurple;
    }
    .apply-flow-input-checkbox__label,
    .apply-flow-input-checkbox__label *,
    .agreements-label-text {
        color: $onyxBlack;
        a {
            @include linkStyle2;
        }
    }
    .input-row__label,
    .oj-select-chosen,
    .input-row__control,
    .text-truncate__content {
        color: $onyxBlack;
    }
    span.button__arrow.button__arrow--left {
        display: none;
        width: 0;
        &::after {
            display: none;
            width: 0;
        }
    }
    // main footer
    .app-footer {
        background-color: $onyxBlack;
        .footer-links__item {
            a {
                text-transform: capitalize;
                color: white;
                &:visited {
                    color: white;
                }
            }
        }
    }
    // cookie constent
    .cookie-consent__content {
        border-radius: 0;
        .cookie-consent__pulse {
            border-radius: 0;
        }
        .cookie-consent__abstract {
            span {
                color: $onyxBlack;
            }
        }
        .cookie-consent__button {
            flex-grow: unset;
        }
    }
    // terms modal
    .app-dialog__footer-button {
        @include buttonStyle;
        max-width: fit-content;
        width: fit-content;
        height: 50px;
        span {
            padding: 8px 0px;
        }
    }
    .app-dialog__content {
        color: $onyxBlack;
    }
    .oj-dialog-body {
        border-radius: 0;
    }
    // push job spec modal down
    .app-dialog__wrapper.app-dialog__wrapper--active {
        @media (min-width: $breakpoint-tablet) {
            padding-top: 80px;
        }
    }
}

// slide out main menu bg
.body--menu-opened .app-menu {
    background-color: rgba(0, 0, 0, 0.8);
}

//modal backdrop color
.body--dialog-opened .app-dialog {
    background-color: rgba(0, 0, 0, 0.8);
}

// modal close btn
.app-dialog__bar {
    // button.favourite-star,
    // button.share-widget__action,
    button.app-dialog__close {
        @include closeIcon;
        width: 36px;
        height: 36px;
        top: -4px;
        position: relative;
        @media (min-width: $breakpoint-tablet) {
            width: 44px;
            height: 44px;
            top: auto;
        }
        &::before {
            font-size: 30px;
            content: "\00D7";
            position: relative;
            top: -2px;
            display: block;
            transition: none;
            @media (min-width: $breakpoint-tablet) {
                font-size: 34px;
            }
        }
        &:hover {
            opacity: 0.8;
            &::before {
                transform: none;
            }
        }
        @media (min-width: $breakpoint-tablet) {
            position: relative;
            top: -80px;
            left: 20px;
        }
    }
}