@import "./a_variables.scss";
// links
@mixin linkStyle {
    text-transform: capitalize;
    font-family: "graphikBold", Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 0.01rem;
    border-bottom: 1px solid $backgroundHoverTag;
    text-underline-offset: 2px;
    line-height: 18px;
    cursor: pointer;
    transition-property: border-bottom, color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    padding: 0 0 2px 0;
    &:hover {
        border-bottom: 1px solid black;
        text-underline-offset: 2px;
        cursor: pointer;
    }
}

@mixin linkStyle2 {
    text-transform: capitalize;
    font-family: "graphikReg", Arial, sans-serif;
    font-size: 13px;
    letter-spacing: 0.01rem;
    color: $mainPurple;
    text-decoration: none;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: $backgroundHoverTag;
    &:hover {
        text-decoration: underline;
        text-underline-offset: 2px;
        cursor: pointer;
    }
}

@mixin linkHoverStyle {
    &:hover {
        text-decoration: underline;
        text-underline-offset: 2px;
        cursor: pointer;
    }
}

// button
@mixin buttonStyle {
    font-family: "graphikBold", Arial, sans-serif;
    text-transform: capitalize;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    letter-spacing: 0.01em;
    line-height: 1.75rem;
    padding: 8px 16px;
    background-color: $hotPink;
    border: 1px solid $hotPink;
    height: 32px;
    cursor: pointer;
    &::before {
        border: 0;
    }
    &::after {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 279.085 278.46' style='enable-background:new 0 0 279.085 278.46;' xml:space='preserve'%3E%3Cg%3E%3Cpath style='fill:%23FFF;' d='M211.051,156.682c-1.789,0-3.577,0-5.366,0c-66.463,0.004-132.927-0.037-199.39,0.107 c-4.701,0.01-6.522-1.113-6.272-6.071c0.41-8.14,0.322-16.315,0.164-24.469c-0.07-3.58,0.964-5.036,4.78-5.025 c35.475,0.101,70.951,0.065,106.426,0.043c32.312-0.02,64.623-0.071,96.935-0.124c0.803-0.001,1.606-0.18,2.676-0.308 c-0.478-2.733-2.619-3.946-4.163-5.501c-28.974-29.17-57.986-58.302-86.99-87.442c-4.521-4.542-4.456-4.54,0.073-8.94 c5.614-5.453,11.263-10.885,16.59-16.612c3.011-3.236,4.961-3.025,8.03,0.076c26.704,26.986,53.545,53.836,80.387,80.685 c17.188,17.193,34.358,34.407,51.749,51.394c3.413,3.334,3.034,5.213-0.128,8.362c-44.129,43.943-88.175,87.969-132.115,132.1 c-3.309,3.323-5.301,3.264-8.377-0.116c-5.375-5.906-11.02-11.591-16.858-17.041c-3.098-2.892-2.842-4.714,0.063-7.592 c22.699-22.485,45.228-45.142,67.862-67.693c8.207-8.177,16.556-16.212,24.84-24.312 C211.661,157.696,211.356,157.189,211.051,156.682z'/%3E%3C/g%3E%3C/svg%3E");
        // background-repeat: no-repeat;
        background-position: center top;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        fill: white;
        margin-left: 10px;
        position: relative;
        display: inline-flex;
        transition: transform 0.2s linear;
    }
    &:hover {
        background-color: $hotPinkDarker;
        border: 1px solid $hotPinkDarker;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &::after {
            transform: translateX(25%);
        }
    }
    &:active {
        background-color: $hotPinkClicked;
    }
    &:focus {
        outline: 2px solid $btnOutline;
        border: 1px solid white;
    }
}

// button
@mixin formButtonStyle {
    font-family: "graphikBold", Arial, sans-serif;
    text-transform: capitalize;
    color: white;
    border-radius: 0;
    cursor: pointer;
    display: block;
    width: 100%;
    max-width: none;
    font-size: 18px;
    letter-spacing: 0.01em;
    line-height: 1.75rem;
    padding: 8px 24px;
    margin-left: auto;
    margin-right: auto;
    background-color: $mainPurple;
    border: 1px solid $mainPurple;
    height: 54px;
    .inline-spinner {
        margin: 0;
    }
    &::before {
        border: 0;
    }
    &::after {
        content: "";
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.4.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 15.1 24' style='enable-background:new 0 0 15.1 24;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D .st1%7Bfill:none;%7D%0A%3C/style%3E%3Cpath class='st0' d='M2.8,0.1L0,2.9l9.2,9.2L0,21.2l2.8,2.8l12-12L2.8,0.1z'/%3E%3Cpath class='st1' d='M0,0h48v48H0V0z'/%3E%3C/svg%3E%0A");
        // background-repeat: no-repeat;
        background-position: center top;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        fill: white;
        margin-left: 10px;
        position: relative;
        display: inline-flex;
        top: 2px;
        transition: transform 0.2s linear;
    }
    &:hover {
        background-color: $mainPurpleDarker;
        border: 1px solid $mainPurpleDarker;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &::after {
            transform: translateX(25%);
        }
    }
    &:active {
        background-color: $mainPurpleClicked;
    }
    &:focus {
        outline: 2px solid $btnOutline;
        border: 1px solid white;
    }
}

@mixin buttonReversedStyle {
    font-family: "graphikBold", Arial, sans-serif;
    text-transform: capitalize;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    letter-spacing: 0.01em;
    line-height: 1.75rem;
    padding: 8px 24px;
    background-color: $hotPink;
    border: 1px solid $hotPink;
    height: 48px;
    cursor: pointer;
    &::before {
        border: 0;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 280.085 278.412' style='enable-background:new 0 0 280.085 278.412;' xml:space='preserve'%3E%3Cg%3E%3Cpath style='fill:%23FFF;' d='M69.035,120.73c1.789,0,3.577,0,5.366,0c66.463-0.004,132.927,0.037,199.39-0.107 c4.701-0.01,6.522,1.113,6.272,6.071c-0.41,8.14-0.323,16.315-0.164,24.469c0.07,3.58-0.964,5.036-4.78,5.025 c-35.475-0.101-70.951-0.065-106.426-0.043c-32.312,0.02-64.623,0.071-96.935,0.124c-0.803,0.001-1.606,0.18-2.676,0.308 c0.478,2.733,2.619,3.946,4.163,5.501c28.974,29.169,57.986,58.302,86.99,87.442c4.521,4.542,4.456,4.54-0.073,8.94 c-5.614,5.453-11.263,10.885-16.59,16.612c-3.011,3.236-4.961,3.025-8.03-0.076c-26.704-26.986-53.545-53.836-80.387-80.685 c-17.188-17.193-34.358-34.407-51.749-51.394c-3.413-3.334-3.034-5.213,0.128-8.362c44.129-43.943,88.175-87.969,132.115-132.1 c3.309-3.323,5.301-3.264,8.377,0.116c5.375,5.906,11.02,11.59,16.858,17.041c3.098,2.892,2.842,4.714-0.063,7.592 c-22.699,22.485-45.228,45.142-67.862,67.693c-8.207,8.177-16.556,16.212-24.84,24.312 C68.424,119.717,68.729,120.224,69.035,120.73z'/%3E%3C/g%3E%3C/svg%3E%0A");
        // background-repeat: no-repeat;
        background-position: center top;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        fill: white;
        margin-right: 10px;
        position: relative;
        display: inherit;
        left: -5px;
    }
    &:hover {
        background-color: $hotPinkDarker;
    }
    &:active {
        background-color: $hotPinkClicked;
    }
    &:focus {
        outline: 2px solid $btnOutline;
        border: 1px solid white;
    }
}

@mixin buttonNoStyle {
    font-family: "graphikBold", Arial, sans-serif;
    text-transform: capitalize;
    color: $onyxBlack;
    border-radius: 50px;
    font-size: 18px;
    letter-spacing: 0.01em;
    line-height: 1.75rem;
    padding: 8px 0px;
    background-color: transparent;
    border: 1px solid transparent;
    height: 48px;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: $backgroundHoverTag;
    &:hover {
        text-decoration: underline;
        text-underline-offset: 2px;
        cursor: pointer;
    }
    &:active {
        opacity: 0.5;
    }
    &:focus {
        outline: 2px solid $btnOutline;
        border: 1px solid white;
    }
}

@mixin closeIcon {
    background-color: $hotPink;
    border-radius: 100%;
    .copy-link__icon {
        color: white;
    }
    &::before {
        color: white;
        font-size: 16px;
    }
    .app-dialog__close-label {
        display: none;
    }
}

@mixin notifBox {
    border: 2px solid $notifBorder;
    padding: 32px;
    background-color: white;
    box-shadow: none;
    border-radius: 0;
}

@mixin tags {
    background-color: $greyTags;
    border: 1px solid $greyBorder;
    color: $mainPurple;
    border-radius: 30px;
    &:hover {
        background-color: $backgroundHoverTag;
    }
}

@mixin h2Style {
    font-family: "graphikBold", Arial, sans-serif;
    text-align: left;
    font-size: 32px;
    color: $onyxBlack;
}

// form labels
@mixin h6Style {
    font-family: "graphikBold", Arial, sans-serif;
    font-family: "Graphik LCG Web", arial, sans-serif;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
    font-weight: 600;
    text-align: left;
    color: $onyxBlack;
}

@mixin formField {
    text-transform: capitalize;
    font-family: "graphikReg", Arial, sans-serif;
    font-size: 18px;
    height: 56px;
    border: 1px solid $greyBorder;
    color: $onyxBlack;
    &:hover {
        border: 2px solid $greyBorder;
    }
    &:active {
        border-bottom: 2px solid $onyxBlack;
    }
    &:focus {
        outline: 2px solid $btnOutline;
        border: 1px solid white;
    }
}

@mixin formField2 {
    // text-transform: capitalize;
    // font-family: "graphikReg", Arial, sans-serif;
    // font-size: 18px;
    // height: 56px;
    // border: 1px solid $greyBorder;
    // color: $onyxBlack;
    &:hover {
        border: 2px solid $greyBorder;
    }
    &:active {
        border-bottom: 2px solid $onyxBlack;
    }
    &:focus {
        outline: 2px solid $btnOutline;
        border: 1px solid white;
    }
}